language: node_js
node_js:
- '4'
- '5'
- '6'
- '7'
after_script: ./node_modules/.bin/lab -r lcov | ./node_modules/.bin/coveralls
notifications:
  slack:
    secure: WDK3Ip7HEU7fNZuD61qLmrCVYVmuqP45v/vqsiJY5Difb1kzGAmUr1yV/Vlw7xmFhEBd4Z+tKkCJtzKiO4TYf0g5nLsfC1jaY1/OapC1HcZrt2FL7MfeqZ+aOuzNasWAj1cMFQ6HOSq0L4L0OBc1yOgKxhjezsHfzPvw1mo07I3XQjcT7RcOpczEx50g3Gxtvuj6reqRWQqwe6N9fzcOc2/6OsjihALdCH+0DA6iX7iMNbcEpvefinJ3jB8l+TQv6HNdwkbYQiLgjc0zf1neWs1FOJJDGRrYd9hjQiWX/+f334RLMHUwEfXw9uHL08e8DYv8EAK4zmmjsQqBAwT2fj2FkW4inauzyJFhnf6b7ZuHzs6izMTNQ17v2Ffx7ha6SibIaTa2Ms9ozxubpeX7hKJlUWhb5ZqWXuvMtLoUpQJcA1YsPWqXZEPy1drO7QM1IKH6VslzrZCcrF7BXxK0sfKqonwu/N1XDkR0gTLotfWJvobD8PTnCEaRfWACj0cGUPwZHiEIxFVmBTZKSFKRMILdAReE8XTqi+BCGm6D3YtoE24QwPFDsXVT1ex8z7a/xfTogNKfXuSZsf18MFwIH8RbzzZIDRvATyLqmgAEicSLvS67r23uytiqoY+O9PylCEsZqJjLij0lX3kLMfKaU5M2e2bx2hPv9GOJ3KZdE9E=
